body {
 background-color: #BFCBD9;
 color: #000000;
}
ul.c11 {color: #0F3161; font-family: Arial, Helvetica, sans-serif}
div.c10 {color: #BFCBD9; font-family: Arial, Helvetica, sans-serif; text-align: right}
span.c9 {color: #0F3161; font-family: Arial, Helvetica, sans-serif}
a.c8 {color: #0F3161; font-family: Arial, Helvetica, sans-serif}
p.c7 {color: #0F3161; font-family: Arial, Helvetica, sans-serif}
h2.c6 {color: #0F3161; font-family: Arial, Helvetica, sans-serif}
a.c5 {color: #FA5053; font-family: Arial, Helvetica, sans-serif}
div.c4 {text-align: right}
a.c3 {color: #BFCBD9; font-family: Arial, Helvetica, sans-serif}
div.c2 {color: #0F3161; font-family: Arial; font-size: 200%; text-align: left}
h2.c1 {color: #BFCBD9; font-family: Arial, Helvetica, sans-serif}
