#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	cp $(CURDIR)/binaries/arm64/ipxe-autoboot.efi $(CURDIR)/binaries/arm64/ipxe-autoboot-arm64.efi
	dh_install
	rm -f binaries/arm64/ipxe-autoboot-arm64.efi
