name: Build

on: push

jobs:

  cache:
    name: Cache
    runs-on: ubuntu-24.04
    steps:
      - name: Cache permissions
        run: |
          sudo chown $(id -un) /var/cache/apt/archives
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives/*.deb
          key: apt-cache-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            apt-cache-
      - name: Download packages
        run: |
          sudo apt update
          sudo apt install -y -d -o Acquire::Retries=50 \
                           mtools syslinux isolinux genisoimage \
                           libc6-dev-i386 liblzma-dev valgrind \
                           gcc-arm-none-eabi gcc-aarch64-linux-gnu

  buildmatrix:
    name: Build ${{ matrix.arch }}
    runs-on: ubuntu-24.04
    needs: cache
    strategy:
      matrix:
        include:
          - arch: x86
            archpackages: |
              libc6-dev-i386 liblzma-dev valgrind \
              libgcc-s1:i386 libc6-dbg:i386
          - arch: arm32
            archpackages: gcc-arm-none-eabi
            cross: arm-none-eabi-
            target: intel
          - arch: arm64
            archpackages: gcc-aarch64-linux-gnu
            cross: aarch64-linux-gnu-
            target: ipxe
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Cache permissions
        run: |
          sudo chown $(id -un) /var/cache/apt/archives
      - name: Cache packages
        uses: actions/cache/restore@v4
        with:
          path: /var/cache/apt/archives/*.deb
          key: apt-cache-${{ github.run_id }}-${{ github.run_attempt }}
      - name: Packages add-architecture i386
        if: matrix.arch == 'x86'
        run: sudo dpkg --add-architecture i386
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install -y -o Acquire::Retries=50 \
                           mtools syslinux isolinux genisoimage \
                           ${{ matrix.archpackages }}
      - name: Build (BIOS)
        if: matrix.arch == 'x86'
        run: |
          make -j 4 -C src
      - name: Build (Everything)
        if: matrix.arch == 'x86'
        run: |
          make -j 4 -C src everything
      - name: Test
        if: matrix.arch == 'x86'
        run: |
          valgrind ./src/bin-i386-linux/tests.linux
          valgrind ./src/bin-x86_64-linux/tests.linux
      - name: Build Cross ${{ matrix.arch }}
        if: matrix.cross != ''
        run: |
          make -j 4 -C src CROSS=${{ matrix.cross }} \
               bin-${{ matrix.arch }}-efi/${{ matrix.target }}.efi \
               bin-${{ matrix.arch }}-efi/snponly.efi \
               bin-${{ matrix.arch }}-efi/${{ matrix.target }}.usb \
               bin-${{ matrix.arch }}-efi/${{ matrix.target }}.iso
